/*selector*/
.table-selector {
    background: #F9F9F9;
    padding: 5px 10px 5px 10px;
    border: #EAEAEA 1px solid;
    border-radius: 5px;
    position: relative;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.table-selector > ul {
    /*width: 80%;*/
    display: inline-block;
    margin: 0;
    padding: 0;
}

.table-selector > ul > li {
    font-size: 16px;
    display: inline-block;
    border: darkblue 1px solid;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    background: #E4E4E4;
}

.table-selector .selector-delete {
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
    opacity: 0.3;
}

.table-selector .selector-delete:hover {
    opacity: 1;
}

.table-selector .selector-action-container {
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
    float: right;
    max-width: 30%;
    border-left: #7f7f7f 2px solid;
}

.table-selector:after {
    display: block;
    content: '';
    clear: both;
}

/*table*/
table.selectable-tr tbody tr {
    cursor: copy;
}

table.selectable-tr tbody tr:hover {
    background: #D3DFF5;
}

table.selectable-td tbody td {
    cursor: copy;
}

table.selectable-td tbody td:hover {
    background: #D3DFF5;
}

table.selectable tr.selected, td.selected {
    border: 3px dashed #6b6b6b;
    background: #c5c5c5;
}